html, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: #34495e;
}

.radio {
    display: none;
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 696px;
    height: 696px; 
    margin: 5% auto;
}
.slider {
    width: 100%;
    overflow: hidden;
}
.slide {
    position: absolute;
    width: 100%;
    border-radius: 20px;
    transition: opacity 1.3s ease-in-out;
    opacity: 0;
}
.slide img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.caption {
    position: absolute;
    width: 100%;
    bottom: -8%;
    color: #ffeb3b;
    font-weight: 400;
    font-size: 25px;
    transition: 0.9s;
}

.dots {
    width: 100%;
    position: absolute;
    bottom: -8%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 2%;
}
.dots label {
    width: 15px;
    height: 15px;
    border: 4px solid ;
    background: #fff;
    border-radius: 50%;
    opacity: 0.3;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.dots label:hover {
    opacity: 0.7;
}

#radio-1:checked ~ #slide-1,
#radio-2:checked ~ #slide-2,
#radio-3:checked ~ #slide-3,
#radio-4:checked ~ #slide-4,
#radio-5:checked ~ #slide-5 {
    opacity: 1;
}

#radio-1:checked ~ #slide-1 img,
#radio-2:checked ~ #slide-2 img,
#radio-3:checked ~ #slide-3 img,
#radio-4:checked ~ #slide-4 img,
#radio-5:checked ~ #slide-5 img {
    opacity: 1;
}

#radio-1:checked ~ #slide-1 .caption,
#radio-2:checked ~ #slide-2 .caption,
#radio-3:checked ~ #slide-3 .caption,
#radio-4:checked ~ #slide-4 .caption,
#radio-5:checked ~ #slide-5 .caption {
    opacity: 1;
}

#radio-1:checked ~ .dots #label-1,
#radio-2:checked ~ .dots #label-2,
#radio-3:checked ~ .dots #label-3,
#radio-4:checked ~ .dots #label-4,
#radio-5:checked ~ .dots #label-5 {
    background: #ffeb3b;
    opacity: 1;
}


@media (max-width: 768px) {
    .container {
        width: 480px;
    }
    .dots {
        justify-content: center;
        bottom: 23%;
    }
    .caption {
        bottom: -21%
    }
}

@media (max-width: 480px) {
    .container {
        width: 320px;
    }
    .dots {
        justify-content: center;
        bottom: 47%;
    }
    .caption {
        bottom: -27%
    }
}