html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #34495e;
    font-size: 16px;
}
.radio {
    display: none;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.9rem;
    width: 43.5rem;
    margin: 5% auto;
}
.slider {
    width: 100%;
    height: 43.5rem;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.slider-inner {
    width: 100%;
    display: flex;
}
.images {
    width: 100%;
    display: flex;
    transition: transform 0.6s;
    transform: translateX(0%);
}
.images img {
    width: 100%;
    flex-shrink: 0;
    border-radius: 1.24rem;
}
.captions {
    color: #ffc300;
    font-weight: 400;
    font-size: 1.5rem;
    display: flex;
    overflow: hidden;
}
.captions-inner {
    display: flex;
    transition: transform 0.6s;
    transform: translateX(0%);
}
.captions p {
    width: 100%;
    margin: 0;
    white-space: nowrap;
    flex-shrink: 0;
    text-align: left;
}
.bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1.9rem;
    flex-direction: row-reverse;
}
.dots {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3%;
}

.dots label {
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid #808b96;
    background: #808b96 padding-box;
    border-radius: 50%;
    opacity: 0.3;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.dots label:hover {
    opacity: 0.7;
}
.dots label:active {
    background-color: #ffc300;
}
#radio-1:checked ~ .slider .slider-inner .images {
    transform: translateX(0);
}
#radio-2:checked ~ .slider .slider-inner .images {
    transform: translateX(-100%);
}
#radio-3:checked ~ .slider .slider-inner .images {
    transform: translateX(-200%);
}
#radio-4:checked ~ .slider .slider-inner .images {
    transform: translateX(-300%);
}
#radio-5:checked ~ .slider .slider-inner .images {
    transform: translateX(-400%);
}

#radio-1:checked ~ .bottom .captions .captions-inner {
    transform: translateX(0);
}
#radio-2:checked ~ .bottom .captions .captions-inner {
    transform: translateX(-100%);
}
#radio-3:checked ~ .bottom .captions .captions-inner {
    transform: translateX(-200%);
}
#radio-4:checked ~ .bottom .captions .captions-inner {
    transform: translateX(-300%);
}
#radio-5:checked ~ .bottom .captions .captions-inner {
    transform: translateX(-400%);
}

#radio-1:checked ~ .bottom .dots #label-1,
#radio-2:checked ~ .bottom .dots #label-2,
#radio-3:checked ~ .bottom .dots #label-3,
#radio-4:checked ~ .bottom .dots #label-4,
#radio-5:checked ~ .bottom .dots #label-5 {
    background: #ffc300;
    opacity: 1;
}

@media (max-width: 768px) {
    .container {
        width: 30rem;
        height: 40rem;
    }
    .bottom {
        flex-direction: column;
    }
    .dots {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .container {
        width: 20rem;
        width: 30rem;
    }
}